.breadcrumb-wrapper {
  display: flex;
  padding: 4rem 6rem;
}

.breadcrumb-wrapper-2 {
  @extend .breadcrumb-wrapper;
  padding: 0;
}

.breadcrumb-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #969696;
  padding-left: 1.5rem;
  cursor: pointer;

  &:first-child {
    padding-left: 0;
  }

  &-active {
    cursor: text;
    font-weight: 600;
    color: #000000;
  }
}

.breadcrumb-arrow {
  padding-left: 1.5rem;
}
